<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1> your Recipe is called : <%= recipe.name %></h1>

  <h2>Details</h2>
  <p>Ingredients: <%= recipe.ingredients %> </p>
  <p>Instructions: $<%= recipe.instructions %></p>

  <h2>Owner</h2>
  <% if (recipe.owner._id.equals(user._id)) { %>
    <p>You own this Recipe!</p>
    
    <a href="/recipes/<%= recipe._id %>/edit">Edit this recipe</a>

    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this recipe</button>
    </form>
  <% } else { %>
    <p>You don't own this recipe!! <%= recipe.owner.name %> does!</p>
  <% } %>
  


</body>